.btn-primary, .btn-third, .btn-secondary, .btn-5, .btn-6, .btn-7{
        background-color:blue;
        padding:5px;
        border-radius:10px;
        cursor: pointer;
    }
    .btn-primary:hover, .btn-secondary:hover, .btn-third:hover, .btn-7, .btn-1:hover, .btn-2:hover, .btn-3:hover, .btn-5:hover, .btn-6:hover{
        background-color:green;
    }
    .btn-secondary, .btn-5, .btn-7:hover{
        background-color:red;
        cursor: pointer;
    }
    .btn-third{
        background-color:gray;
        cursor: pointer;
    }
    .container-1, .container-2, .container-3, .container-4, .container-5{
    border:1px solid black;
    background:lightgoldenrodyellow;
    width:75%;
    margin:0 auto;
    text-align:center;
    }
    .flex-box-container-1, .flex-box-container-2, .flex-box-raps, .flex-box-ccb, 
    .flex-box-bj-row-1, .flex-box-bj-row-2, .flex-box-bj-row-3{
        display:flex;
        background-color:whitesmoke;
        border:1px solid black;
        padding:10px;
        flex-wrap:wrap;
        flex-direction:row;
        justify-content:space-around;
    }
    .flex-box-bj-row-1, .flex-box-bj-row-2, .flex-box-bj-row-3{
        background: url('https://media.istockphoto.com/photos/green-poker-table-picture-id502000289?k=6&m=502000289&s=612x612&w=0&h=JGO93i8O4N7XJdk_oYYh0YQJbVCuPDxGKmwtTaOaKEs=');
        color:#ffffff;
    }

    .flex-box-bj-row-1 div{
        border:1px solid black;
        padding:3px;
        height:700px;
        text-align:center;
        flex:1;
    }
    .flex-box-bj-row-1 img{
        width:25%;
        padding:10px;
    }
    .flex-box-bj-row-2 div{
        border:1px solid black;
        padding:10px;
    }
    .flex-box-bj-row-2 input:focus{
        border-color:orangered;
        box-shadow:0px 50px 50px orangered;
    }
    .flex-box-bj-row-2 input{
        color:white;
        font-size:25px;
    }
    .flex-box-container-1 div{
        display:flex;
        background-color:snow;
        padding:10px;
        border:1px solid black;
        align-items:center;
    }
    .flex-box-container-2 img{
        width:25%;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
    }
    .flex-box-raps img{
        height:150px;
        width:150px;
    }
    .flex-box-raps img:hover{
        box-shadow:0px 10px 50px red;
    }
    .btn-1, .btn-2, .btn-3, .btn-4, .btn-5, .btn-6, .btn-7{
        padding:15px;
        border-radius:10px;
        width:100px;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
    .btn-1{
        background-color:orange;
    }
    .btn-2{
        background-color:tomato;
    }
    .btn-3, .btn-6{
        background-color:yellow;
    }
    .btn-4{
        background-color:green;
    }
    .design select{
        font-size:20px;
        padding:10px;
        border:1px #ccc;
        position:relative;
        background-color:slategrey;
        color:white;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
    }
    .design select:hover{
        color:black;
    }
    .Table, th, td{
        padding:5px;
        border-radius:20px;
    }
    .Table th, .Table td{
        color:white;
        font-size:25px;
        padding:10px;
    }
    .Table{
        background-color:maroon;
        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
    }