body {
            background-color: grey;
        }

        .topnav {
            overflow: hidden;
            background-color: orangered;
            position: fixed;
            top: 0;
            z-index: 9999;
            width: 100%;
            left: 0px;
        }

        .new,
        .cont,
        .about {
            float: right;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .cart {
            position: relative;
            float: right;
            text-align: center;
            width: 35px;
            height: 35px;
            top: 4px;
            cursor: pointer;
            padding: 3px;
        }

        .cart:hover {
            background-color: black;
        }


        .topnav a.active {
            top: 13px;
            position: relative;
        }

        .active {
            top: 12px;
            padding: 14px 16px;
            font-size: 17px;
            text-decoration: none;
            color: white;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav .icon {
            display: none;
            color: white;
            padding: 10px;
            text-decoration: none;
        }

        /*nav bar screen size manangement */
        @media screen and (max-width: 600px) {
            .topnav a:not(:first-child) {
                display: none;
            }

            .topnav a.icon {
                float: right;
                display: block;
            }
        }

        @media screen and (max-width: 600px) {
            .topnav.respo {
                position: relative;
            }

            .topnav.respo .icon {
                position: absolute;
                right: 0;
                top: 0;
            }

            .topnav.respo a {
                float: none;
                display: block;
                text-align: left;
                padding: 20px;
            }

            .topnav a:hover {
                background-color: white;
            }
        }

        /*search box design*/
        .find {
            position: relative;
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px;
            padding: 5px 10px 5px 10px;
            top: 7px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 1s ease-in-out;
        }

        input[type=text]:focus {
            width: 50%;
        }


        /*movable text design*/
        .BelowNav {
            position: relative;
            width: 100%;
            top: 60px;
        }

        .h1tag {
            text-align: center;
            background-color: orangered;
        }

        .MOMO {
            text-decoration: none;
            color: green;
        }

        .MOMO:hover {
            color: white;
        }


        /*image location design*/
        .ImageLocation {
            width: 90%;
            height: 500px;
            position: relative;
            left: 5%;
            top: 50px;
        }

        .ContactTitle {
            text-align: center;
            color: white;
            font-size: 50px;
            position: relative;
            top: 50px;
        }

        .ContactNumber {
            text-align: center;
            position: relative;
            top: 50px;
            color: white;
            font-size: 15px;
        }

        .number {
            font-size: 25px;
            color: red;
        }

        .NumberBack {
            background-color: white;
            position: relative;
            top: 50px;
            padding: 5px;
        }

        .ServiceAvailabel {
            color: white;
            font-size: 30px;
            text-align: center;
            position: relative;
            top: 70px;
        }

        .ReserveTable {
            color: white;
            font-size: 20px;
            text-align: center;
            position: relative;
            top: 80px;
        }

        .ReservE {
            color: white;
            background-color: orangered;
            position: relative;
        }

        /*from design*/
        .FormFill {
            position: relative;
            top: 100px;
            text-align: center;
            padding: 10px;
        }

        .InputName,
        .InputPeople,
        .InputDate,
        .InputMessage,
        .DirectOrder select {
            width: 50%;
            padding: 20px;
            border-radius: 5px;
            font-size: 15px;
        }

        .SendMessage {
            width: 30%;
            padding: 10px;
            background-color: grey;
            color: white;
            border-radius: 15px;
            border-color: gold;
            font-size: 25px;
        }

        .DirectOrder option {
            background-color: orangered;
            color: white;
        }